/*
	===== SIDEBAR =====
*/
.sidebar {
	position: fixed;
	top: 0;
	left: 0;
	background: var(--light);
	width: 230px;
	height: 100%;
	z-index: 9;
	overflow-x: hidden;
	scrollbar-width: none;
	transition: all .3s ease;

	&::-webkit-scrollbar {
		display: none;
	}

	// .sidebar.close

	&.close {
		width: 60px;

		// .sidebar.close .sidebar__menu

		.sidebar__menu {
			// .sidebar.close .sidebar__menu li

			li {
				// .sidebar.close .sidebar__menu li a

				a {
					width: calc(48px - (4px * 2));
					transition: all .3s ease;
				}
			}
		}

		// .sidebar.close~.content
		&~.content {
			width: calc(100% - 60px);
			left: 60px;
		}
	}

	// .sidebar .logo

	.logo {
		font-size: 24px;
		font-weight: 700;
		height: 56px;
		display: flex;
		align-items: center;
		color: $primary;
		z-index: 8;
		padding-bottom: 20px;
		box-sizing: content-box;

		// .sidebar .logo__name

		&__name {
			display: flex;
			align-items: center;

			// .sidebar .logo__name span

			span {
				color: var(--dark);
			}
		}

		// .sidebar .logo .bx

		.bx {
			min-width: 60px;
			display: flex;
			justify-content: center;
			font-size: 2.2rem;
		}
	}

	// .sidebar__menu

	&__menu {
		width: 100%;
		margin-top: 48px;

		// .sidebar__menu li

		li {
			height: 48px;
			background: transparent;
			margin-left: 6px;
			border-radius: 48px 0 0 48px;
			padding: 4px;

			// .sidebar__menu li.active

			&.active {
				background: var(--grey);
				position: relative;
				
				// .sidebar__menu li.active::before

				&::before {
					content: '';
					position: absolute;
					width: 40px;
					height: 40px;
					border-radius: 50%;
					top: -40px;
					right: 0;
					box-shadow: 20px 20px 0 var(--grey);
					z-index: -1;
				}

				// .sidebar__menu li.active::after

				&::after {
					content: '';
					position: absolute;
					width: 40px;
					height: 40px;
					border-radius: 50%;
					bottom: -40px;
					right: 0;
					box-shadow: 20px -20px 0 var(--grey);
					z-index: -1;
				}

				// .sidebar__menu li.active a

				a {
					color: $success;
				}
			}

			// .sidebar__menu li a

			a {
				width: 100%;
				height: 100%;
				background: var(--light);
				display: flex;
				align-items: center;
				border-radius: 48px;
				font-size: 16px;
				color: var(--dark);
				white-space: nowrap;
				overflow-x: hidden;
				transition: all .3s ease;

				// .sidebar__menu li a .bx
				
				.bx {
					min-width: calc(60px - ((4px + 6px) * 2));
					display: flex;
					font-size: 1.6rem;
					justify-content: center;
				}

				// .sidebar__menu li a.logout
				&.logout {
					color: $danger;
				}
			}
		}
	}
}