@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
.bx {
  font-size: 1.7rem;
}

/*
	===== RESET STYLES =====
*/
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

html {
  overflow-x: hidden;
}

li {
  list-style: none;
}

a, img, span, input, button {
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  height: auto;
}

input, button {
  background: none;
  border: none;
  color: inherit;
  font: inherit;
}

input {
  width: 100%;
}

button {
  cursor: pointer;
}

sub {
  vertical-align: baseline;
}

sup {
  vertical-align: top;
}

sub, sup {
  font-size: 0.75em;
}

:root {
  --light: #f6f6f9;
  --grey: #eee;
  --dark: #363949;
}

body.dark {
  --light: #181a1e;
  --grey: #25252c;
  --dark: #fbfbfb ;
}

/*
	===== GLOBAL STYLES =====
*/
* {
  font-family: "Poppins", sans-serif;
}

body {
  background: var(--grey);
  overflow-x: hidden;
}

/*
	===== SIDEBAR =====
*/
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  background: var(--light);
  width: 230px;
  height: 100%;
  z-index: 9;
  overflow-x: hidden;
  scrollbar-width: none;
  transition: all 0.3s ease;
}
.sidebar::-webkit-scrollbar {
  display: none;
}
.sidebar.close {
  width: 60px;
}
.sidebar.close .sidebar__menu li a {
  width: 40px;
  transition: all 0.3s ease;
}
.sidebar.close ~ .content {
  width: calc(100% - 60px);
  left: 60px;
}
.sidebar .logo {
  font-size: 24px;
  font-weight: 700;
  height: 56px;
  display: flex;
  align-items: center;
  color: #1976D2;
  z-index: 8;
  padding-bottom: 20px;
  box-sizing: content-box;
}
.sidebar .logo__name {
  display: flex;
  align-items: center;
}
.sidebar .logo__name span {
  color: var(--dark);
}
.sidebar .logo .bx {
  min-width: 60px;
  display: flex;
  justify-content: center;
  font-size: 2.2rem;
}
.sidebar__menu {
  width: 100%;
  margin-top: 48px;
}
.sidebar__menu li {
  height: 48px;
  background: transparent;
  margin-left: 6px;
  border-radius: 48px 0 0 48px;
  padding: 4px;
}
.sidebar__menu li.active {
  background: var(--grey);
  position: relative;
}
.sidebar__menu li.active::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  top: -40px;
  right: 0;
  box-shadow: 20px 20px 0 var(--grey);
  z-index: -1;
}
.sidebar__menu li.active::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  bottom: -40px;
  right: 0;
  box-shadow: 20px -20px 0 var(--grey);
  z-index: -1;
}
.sidebar__menu li.active a {
  color: #388E3C;
}
.sidebar__menu li a {
  width: 100%;
  height: 100%;
  background: var(--light);
  display: flex;
  align-items: center;
  border-radius: 48px;
  font-size: 16px;
  color: var(--dark);
  white-space: nowrap;
  overflow-x: hidden;
  transition: all 0.3s ease;
}
.sidebar__menu li a .bx {
  min-width: 40px;
  display: flex;
  font-size: 1.6rem;
  justify-content: center;
}
.sidebar__menu li a.logout {
  color: #D32F2F;
}

/*
	===== MAIN =====
*/
.content {
  position: relative;
  width: calc(100% - 230px);
  left: 230px;
  transition: all 0.3s ease;
}
.content nav {
  height: 56px;
  background: var(--light);
  padding: 0 24px 0 0;
  display: flex;
  align-items: center;
  grid-gap: 24px;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 9;
}
.content nav::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  bottom: -40px;
  left: 0;
  border-radius: 50%;
  box-shadow: -20px -20px 0 var(--light);
}
.content nav a {
  color: var(--dark);
}
.content nav .bx.bx-menu {
  cursor: pointer;
  color: var(--dark);
}
.content nav .notifications {
  font-size: 20px;
  position: relative;
}
.content nav .notifications .count {
  position: absolute;
  top: -6px;
  right: -6px;
  width: 20px;
  height: 20px;
  background: #D32F2F;
  border-radius: 50%;
  color: var(--light);
  border: 2px solid var(--light);
  font-weight: 700;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content nav .profile__img {
  width: 36px;
  height: 36px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}
.content nav .theme-toggle {
  display: block;
  min-width: 50px;
  height: 25px;
  background: var(--grey);
  cursor: pointer;
  position: relative;
  border-radius: 25px;
}
.content nav .theme-toggle::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  bottom: 2px;
  width: 21px;
  background: #1976D2;
  border-radius: 50%;
  transition: all 0.3s ease;
}
.content nav #theme-toggle:checked + .theme-toggle::before {
  left: calc(100% - 21px - 2px);
}
.content nav form {
  max-width: 400px;
  width: 100%;
  margin-right: auto;
}
.content nav form .form__input {
  display: flex;
  align-items: center;
  height: 36px;
}
.content nav form .form__input input {
  flex-grow: 1;
  padding: 0 16px;
  height: 100%;
  border: none;
  background: var(--grey);
  border-radius: 36px 0 0 36px;
  outline: none;
  width: 100%;
  color: var(--dark);
}
.content nav form .form__input button {
  width: 80px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1976D2;
  color: var(--light);
  font-size: 18px;
  border: none;
  outline: none;
  border-radius: 0 36px 36px 0;
  cursor: pointer;
}
.content main {
  width: 100%;
  padding: 36px 24px;
  max-height: calc(100vh - 56px);
}
.content main .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-gap: 16px;
  flex-wrap: wrap;
}
.content main .header .left h1 {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 10px;
  color: var(--dark);
}
.content main .header .left .breadcumb {
  display: flex;
  align-items: center;
  grid-gap: 16px;
}
.content main .header .left .breadcumb li {
  color: var(--dark);
}
.content main .header .left .breadcumb li a {
  color: var(--grey);
  pointer-events: none;
}